@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  font-size: 14px;
}

body.unauthenticated {
  display: table-cell;
  vertical-align: middle;
  background-color: #F1F1F1;
}

body.authenticated {
  padding-top: 80px;
  padding-bottom: 80px;
}

.unauthenticated-box {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  background-color: white;
}

.print-view-box {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}


h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

// h1, h2, h3, h4 {
//   font-family: 'Lobster Two';
//   color: #515151;
// }