@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: 'Lato';
}

h1, h2, h3, h4 {
  font-family: 'Lobster Two';
  color: #515151;
}