- unless current_user.admin? or @record.sector.short_name == current_user.sector.short_name
  - redirect_to_root

= content_for :text_logo, "#{@record.number}ª #{select_meeting_name(@record.sector.short_name)}"

div#unique_id style="display: none"
  = "ata_nucleo_#{@record.sector.id}_numero_#{@record.number}"

= form_for @record do |f|

  / Informações Básicas
  .row

    .col-sm-12
      .alert.alert-info
        - unless @record.updated_at.nil?
          = render 'updated_at'

    .col-sm-12
      h4 Informações Básicas

    .col-sm-12
      hr.divider
    
    .col-sm-12

      .form-group
        = f.label 'Data e Horário'
        #datetimepicker.input-group.date
          = f.text_field :date, class:'form-control', required: true
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      
      .form-group
        = f.label 'Reunião de nº'
        = f.number_field :number, class:'form-control', required: true
    
  / Membros
  .row
    
    .col-sm-12
      h4 Membros

  .row

    .col-sm-12
      = f.fields_for :records_users do |records_user|
        = render 'records_user_fields', f: records_user
      .links
        = link_to_add_association 'Adicionar Membro', f, :records_users, class: 'btn btn-success'

  / Pautas
  .row

    div style="margin-top: 30px"
      .col-sm-12
        h4 Pautas e Discussões

    .col-sm-12
      div style="margin-top: 20px"
        = f.text_area :discussion

  / Submit e voltar
  .row
    .col-sm-12 style="margin-top: 10px"
      = f.submit 'Salvar Ata', class:'btn btn-success'
      = link_to 'Voltar', records_path, class:'btn btn-default pull-right'

javascript:
  $(document).ready(function() {

    unique_id = $('#unique_id').html();

    var simplemde = new SimpleMDE({
      autofocus: true,
      autosave: {
          enabled: true,
          uniqueId: unique_id,
          delay: 1000,
      },
      placeholder: 'Digite aqui as pautas e discussões desta reunião...\n\nIt\'s markdown guys! Qualquer dúvida clique no ícone de ajuda :]',
      shortcuts: {
        drawTable: "Alt-Shift-T"
      },
      showIcons: ["code", "table"],
      spellChecker: false,
      status: ["autosave", "lines", "words", "cursor"]
    }); 

    $('#datetimepicker').datetimepicker({
      locale: 'pt-br'
    });

  });
