.text-center
  = image_tag('logo.png')

br
br

p.text-center
  strong
    | ATA DE REUNIÃO
    br
    = @record.number.to_s + "ª " + select_meeting_name(@record.sector.short_name)

br
br

p
  strong
    | Data e Hora:
p
  = traduz_data_e_hora(@record.date.to_time)

br

p
  strong
    | Membros:

  - if @record.records_users.empty?
    p
      | Não há membros para a reunião.

  - else

    table.table

      thead
        tr
          th Status
          th Membro
          th Email

      tbody

        - @record.records_users.each do |records_user|

          tr
            td = status_tag(records_user.status.name)
            td = records_user.user.name
            td = records_user.user.email

br

p
  strong
    | Pautas e discussões:

  - if @record.discussion.blank?
    p
      | Não há pautas e discussões para a reunião.
      
  - else
    br
    .panel.panel-default
      .panel-body.markdown-content
        = markdown(@record.discussion)

span
  = link_to 'Início', records_path

span.pull-right
  em
    | Ata gerada por 
    = current_user.name
    |  em 
    = traduz_data_e_hora(Time.now)