= content_for :text_logo, "#{@record.number}ª #{select_meeting_name(@record.sector.short_name)}"

.row

  .col-sm-10

    .visible-xs
      .text-center
        strong
          | Data e hora da reunião: 
        = traduz_data_e_hora(@record.date.to_time)

    .hidden-xs
      strong
        | Data e hora da reunião: 
      = traduz_data_e_hora(@record.date.to_time)

    div style="margin-top: 5px"
      = render 'updated_at'

  .col-sm-2
    = link_to 'Versão para Impressão', print_view_path(@record), target: '_blank', class: 'btn btn-success pull-right'

hr.divider

.row
  
  .col-sm-12
    h4 Membros

  .col-sm-12 style="padding-top: 10px"
  
    - if @record.users.blank?

      .alert.alert-danger
        i.fa.fa-exclamation-circle
        | &nbsp;&nbsp; Não há membros para esta reunião.

    - else

      table.table.datatable

        thead
          tr
            th Status
            th Membro
            th Email

        tbody

          - @record.records_users.each do |records_user|

            tr
              td = status_tag(records_user.status.name)
              td = records_user.user.name
              td = records_user.user.email
.row

  .col-sm-12 style="padding-top: 20px"

    h4 Pautas e Discussões

    div style="padding-top: 10px"

      - if @record.discussion.blank?

        .alert.alert-danger
          i.fa.fa-exclamation-circle
          | &nbsp;&nbsp; Não há pautas para esta reunião.       

      - else
      
        .panel.panel-default
          .panel-body
            .text-justify.markdown-content
              = markdown(@record.discussion)

.btn-group
  - if current_user.admin? or @record.sector.short_name == current_user.sector.short_name
    = link_to 'Editar', edit_record_path(@record), class: 'btn btn-primary'
  - if can? :destroy, Record
    = link_to 'Excluir', @record, data: { confirm: 'Você tem certeza?' }, method: :delete,class: 'btn btn-default'

= link_to 'Voltar', records_path, class: 'btn btn-default pull-right'

javascript:
  $(document).ready( function () {
    $('.datatable').DataTable({
      'dom': '<"top">rt<"pull-left spacing"f><"pull-right spacing"p><"clear">',
      "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"},
      responsive: true
    });
  } );