.media
  .media-left.media-middle
    a[href="#"]
      = image_tag 'cjr.png', class: 'logo'
  .media-body.media-middle
    h1.media-heading
      .text-right      
        = yield :text_logo

hr.divider