<div class="media">
    <div class="media-left media-middle">
        <a href="#"><%= image_tag 'cjr.png', class: 'logo' %></a>
    </div>
    <div class="media-body media-middle">
        <h1 class="media-heading">
            <div class="text-right">
                <%= yield :text_logo %>
            </div>
        </h1>
    </div>
</div>
<hr class="divider">